@font-face{
    font-family: K2D;
    src: url(../ressources/fonts/K2D-Light.ttf)
}

@font-face{
    font-family: Audiowide;
    src: url(../ressources/fonts/Audiowide-Regular.ttf)
}



body{
    font-family: K2D;
    background-color: #000000;
    color: #FFFFFF;
}

body h1, body h2, body h3 {
    font-family: Audiowide;
}

select, input{
    color: #11173F;
}

/*
    Propriétés liées au header
*/
header{
    vertical-align: auto;
    border: 3px solid white;
    height: 30%;
    width: 99.5%;
    margin: 0 auto;
}

header h1 {
    display: inline-block;
}

header li{
    display: inline-block;
}

#searchhead{
    text-align: center;
}

#searchhead li{
    width: 10%
}

.button2{
    display: inline-block;
    background-color: transparent;
    color: white;
    font-size: 1000%;
    padding: 0.2% 0.5% 0.2% 0.5%;
    height: 25%;
}

#previous{
    float: left;
}

#next{
    float: right;
}

/*
    Propriétés liées aux boutons
*/
.button{
    display: inline-block;
    background-color: rgb(120, 54, 206);
    color: white;
    font-size: 150%;
    padding: 0.2% 0.5% 0.2% 0.5%;
    height: 25%;
}

.button a{
    color: white;
    text-decoration: none;
}

.button a:click{
    color: white;
    text-decoration: none; 
}

.button:hover{
    background-color: rgb(91, 40, 156);
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s; 
}

.button:not(:hover){
    background-color: rgb(120, 54, 206);
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s; 
}

#container{
    background-image: url(../ressources/images/test_bg.png);
}


