@font-face {
    font-family: K2D;
    src: url(ressources/fonts/K2D-Light.ttf)
}

@font-face {
    font-family: Audiowide;
    src: url(ressources/fonts/Audiowide-Regular.ttf)
}

html , php{
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

body {
    font-family: K2D;
    background-color: #000000;
    background-image: url(ressources/images/test_bg.png);
    color: #FFFFFF;
    margin: 0 auto;
    overflow: hidden;
}

body h1,
body h2,
body h3 {
    font-family: Audiowide;
}

h1 {
    text-align: center;
    display: auto;
    margin: 0 auto;
    margin-bottom: 0.5%;
}

select,
input {
    color: #11173F;
}

body.header-fixed header {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 0;
    margin-bottom: 3%;
    width: 100%;
    height: 16.05%;
    z-index: 2;
}

header #logo,
header nav,
header #searchbar {
    display: inline-block;
    vertical-align: middle;
}

#container {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding: 0 auto;
    float: left;
}

button {
    vertical-align: middle;
    text-align: center;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    padding: 0 auto;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: rgba(255, 255, 255, 0)
}

li {
    list-style: none;
}

nav {
    overflow: hidden;
}

nav li , nav div, #connected li, #disconnected li{
    display: inline-block;
}

nav a {
    font-family: Audiowide;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 auto;
    padding: 25px;
    transition: 0, 3s all;
}

#selector {
    z-index: auto;
    position: fixed;
    background-color: rgba(16, 16, 16, 0.66);
    text-align: center;
    width: 17.15%;
    border: 1px solid rgb(235, 232, 232);
}

#moon {
    z-index: auto;
    position: fixed;
    right: 2.2%;
    background-color: rgba(16, 16, 16, 0.66);
    text-align: center;
    width: 17.15%;
    border: 1px solid rgb(235, 232, 232);
}

#moon ul {
    height: 370px;
    overflow-y: auto;
}

#selector ul, #moon ul {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0%;
    padding-right: 0%;
}

#selector li,
#selector div, 
#moon li, #moon div{
    border-top: 1px solid white;
    width: 100%;
    text-align: center;
}

#selector li, #moon li {
    display: flex;
}

#selector #planet_title, #moon #moon_title {
    font-family: Audiowide;
    padding-top: 7%;
    padding-bottom: 7%;
    text-align: center;
    vertical-align: middle;
}

#selector a, #moon a {
    font-family: Audiowide;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    padding: 3%;
    transition: 0, 3s all;
    ;
}

#moon a{
    padding: 0 auto;
    margin: 0 auto;
    font-family: K2D;
    text-align: center;
}

.visible td {
    font-size: 95%;
}


tbody .planet_button{
    font-family: Audiowide;
    width: 100%;
    display: flex;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    transition: 0, 3s all;
}


.planet_button p{
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
    display: none;
}

.visible {
    visibility: visible;
    display: block;
}

nav a:hover,
.planet_button a:hover,
#selector li:hover,
#interact #tag:hover,
#interact #pdf_gen:hover {
    text-decoration: none;
    color: #EB1923;
    background-color: rgba(32, 32, 32, 0.66);
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

nav a:not(:hover),
.planet_button a:not(:hover),
#selector li:not(:hover),
#interact #tag:not(:hover),
#interact #pdf_gen:not(:hover) {
    text-decoration: none;
    color: #FFFFFF;
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

.logo {
    float: left;
    margin: 0;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 0.5%;
    line-height: 50px;
    transition: 0.7s all;
    width: 165px;
    height: 105px;
}

.alternate {
    background: #000;
    color: #fff;
}

.search {
    width: 100%;
    position: relative
}

.searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    position: absolute;
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

#information {
    margin-top: 3%;
}

.text {
    position: right;
}

footer {
    display: block;
    width: 100%;
    text-align: center;
}

footer p {
    text-align: center;
    color: white;
}

#basic_info {
    width: 20%;
    height: 25%;
    border: 3px solid white;
    padding: 0.5%;
    margin: 0;
    margin-left: 1%;
}

#container {
    border: 1px solid white;
    margin-left: 0 auto;
}

#preview {
    width: 20%;
    height: 40%;
    border: 3px solid white;
    margin: 0;
    margin-left: 1%;
    background-image: url('textures/backgroundcube.png');
}

#content {
    float: right;
    width: 79%;
    padding: 1%;
}

#gui_container {
    position: fixed;
    top: 17%;
    left: 86.5%;
    background-color: #11173F;
}

#gui_container li {
    vertical-align: middle;
    text-align: left;
    padding: 1%;
    font-family: K2D;
    background-color: #11173F;
    color: white;
}

#gui_container .title {
    vertical-align: middle;
    text-align: center;
    padding: 0;
    width: 11, 85%;
}

#favori_list ul, #favori_list li{
    text-align: center;
    padding: 0;
    margin: 0 auto;
    border: 1px solid white;
    width: 100%;
}

#favori_list li{
    display: block;
    padding: 1%;
}

/*Propriétés liées à la barre de recherche*/

#searchbar {
    margin: 1%;
}

#search bar input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

#searchbar input::-webkit-search-decoration,
#searchbar input::-webkit-search-cancel-button {
    display: none;
}

#searchbar input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 300px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}

#searchbar button {
    position: relative;
    float: right;
    right: 40px;
    border: 0;
    color: #11173F;
}

#searchbar input:-moz-placeholder {
    color: #999;
}

#searchbar input::-webkit-input-placeholder {
    color: #999;
}

#result {
    z-index: -1;
    overflow-y: auto;
    height: 80px;
}
#result, #result li{
    padding: 0 auto;
    font-family: K2D;
    background-color: #FFFFFF;
    color: black;
}

/*Propriétés liées aux formulaires de connexion et d'authentification*/

#formulary {
    width: 100%;
    margin: 1% auto;
}

#formulary h1 {
    position: initial;
    padding: 0 auto;
    margin: 0 auto;
    text-align: center;
}

#formulary form {
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}

#formulary #submit {
    font-size: 20px;
    padding: 0.1%;
    margin-bottom: 0.25%;
    text-align: center;
}

#formulary #pseudo,
#formulary #password,
#formulary #email {
    font-size: 20px;
    padding: 0.5%;
    margin-bottom: 0.25%;
    text-align: center;
}


/*Propriétés liés aux onglets d'interactions utilisateurs*/

#interact {
    width: 100%;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

#interact h4, #interact a {
    font-family: Audiowide;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0, 3s all;
}

#interact #inter1,
#interact #inter2 {
    width: 100%;
    display: block;
    text-align: center;
}

#inter1 ul{
    overflow-y: auto;
    height: 10%;
}

#inter1 li{
    display: block;
}

#inter1 input{
    width: 25%;
    display: inline-block;
}

form #tag1, form #tag2{
    vertical-align: middle;
}

#inter1 button{
    display: inline-block;
    height: 25px;
    width: 25px;
    padding: 0 auto;
}
/*Propriétés de résolution mobile*/